In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_3nov = pd.read_excel("Report Renewal DATABASE_2nov.xlsx", sheet_name="INVOICE_FP_BUKTI", 
              skiprows=1, usecols=[1,2,3,4,5,6,8,10], parse_dates=["TANGGAL PEMBAYARAN"])

In [3]:
df_3nov.head()

,NO INVOICE,TANGGAL PEMBAYARAN,No Faktur Pajak,REGIONAL,NAMA CABANG SESUAI WEB ORDER,NAMA PEMILIK SESUAI KTP,KLASIFIKASI OUTLET,METODE PEMBAYARAN
0,00000001,2021-09-28 00:00:00,010.007-21.77794690,JADETABEK,MENCENG,EVELYN EMMANUEL,GOLD 1%,TOP 1X
1,00000002,2021-09-28 00:00:00,010.007-21.77794692,JADETABEK,JL. JOMBANG RAYA-PARIGI (TAMAN CBD BINTARO),FINA PERMATA SARI,GOLD 1%,TOP 1X
2,00000003,2021-09-28 00:00:00,010.007-21.77794691,JADETABEK,KI HAJAR DEWANTARA (IR H. JUANDA),FINA PERMATA SARI,GOLD 1%,TOP 1X
3,00000007,2021-09-29 00:00:00,010.007-21.77794693,JADETABEK,RUKO AZORES BANJAR WIJAYA,SANNY,GOLD 1%,TOP 1X
4,00000008,2021-09-30 00:00:00,011.007-21.77794694,JADETABEK,RADIO DALAM,NATASIA SUMARTO,"SILVER 0,5%",TOP 1X

In [4]:
df_3nov.tail()

,NO INVOICE,TANGGAL PEMBAYARAN,No Faktur Pajak,REGIONAL,NAMA CABANG SESUAI WEB ORDER,NAMA PEMILIK SESUAI KTP,KLASIFIKASI OUTLET,METODE PEMBAYARAN
293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_3nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   NO INVOICE                    189 non-null    object
 1   TANGGAL PEMBAYARAN            209 non-null    object
 2   No Faktur Pajak               156 non-null    object
 3   REGIONAL                      274 non-null    object
 4   NAMA CABANG SESUAI WEB ORDER  274 non-null    object
 5   NAMA PEMILIK SESUAI KTP       202 non-null    object
 6   KLASIFIKASI OUTLET            22 non-null     object
 7   METODE PEMBAYARAN             210 non-null    object
dtypes: object(8)
memory usage: 18.8+ KB

In [6]:
df_3nov.rename(columns={"NO INVOICE": "no_invoice", 
                        "TANGGAL PEMBAYARAN": "tgl_bayar",
                       "No Faktur Pajak": "no_faktur_pajak",
                       "REGIONAL": "master",
                       "NAMA CABANG SESUAI WEB ORDER": "nama_cabang",
                       "NAMA PEMILIK SESUAI KTP": "nama_pemilik",
                       "KLASIFIKASI OUTLET": "kategori_outlet",
                       "METODE PEMBAYARAN": "top"}, inplace= True)

In [7]:
# find index of NaN of nama_outlet
mask_outlet_na = df_3nov[df_3nov.nama_cabang.isnull()].index

In [8]:
# drop the nan rows by using the index number
df_3nov.drop(mask_outlet_na, inplace= True)

In [9]:
print("Jumlah Cabang Luar + Jadetabek Yang Melakukan Pembayaran: {}".format(len(df_3nov[df_3nov.no_invoice.notnull() | df_3nov.tgl_bayar.notnull()])))

Jumlah Cabang Luar + Jadetabek Yang Melakukan Pembayaran: 218

In [10]:
df_jadetabek = df_3nov[df_3nov.master == "JADETABEK"].copy()

In [11]:
df_jadetabek.head()

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
0,00000001,2021-09-28 00:00:00,010.007-21.77794690,JADETABEK,MENCENG,EVELYN EMMANUEL,GOLD 1%,TOP 1X
1,00000002,2021-09-28 00:00:00,010.007-21.77794692,JADETABEK,JL. JOMBANG RAYA-PARIGI (TAMAN CBD BINTARO),FINA PERMATA SARI,GOLD 1%,TOP 1X
2,00000003,2021-09-28 00:00:00,010.007-21.77794691,JADETABEK,KI HAJAR DEWANTARA (IR H. JUANDA),FINA PERMATA SARI,GOLD 1%,TOP 1X
3,00000007,2021-09-29 00:00:00,010.007-21.77794693,JADETABEK,RUKO AZORES BANJAR WIJAYA,SANNY,GOLD 1%,TOP 1X
4,00000008,2021-09-30 00:00:00,011.007-21.77794694,JADETABEK,RADIO DALAM,NATASIA SUMARTO,"SILVER 0,5%",TOP 1X

## JADETABEK (Update 2 Nov 2021)

#### Jumlah Cabang Yang Melakukan Renewal
NB: Belum dikurangi yang mengundurkan diri dan tidak diperpanjang

In [12]:
#total Jadetabek (not included: RESIGNED)
print("Jumlah Cabang Jadetabek Yang Melakukan Renewal: {}\nNB: Belum dikurangi yang mengundurkan diri/tidak diperpanjang".format(len(df_jadetabek)))

Jumlah Cabang Jadetabek Yang Melakukan Renewal: 234
NB: Belum dikurangi yang mengundurkan diri/tidak diperpanjang

#### Jumlah Cabang Jadetabek Yang Melakukan Pembayaran

In [13]:
#already paid
df_jadetabek[df_jadetabek.no_invoice.notnull() | df_jadetabek.tgl_bayar.notnull()]

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
0,00000001,2021-09-28 00:00:00,010.007-21.77794690,JADETABEK,MENCENG,EVELYN EMMANUEL,GOLD 1%,TOP 1X
1,00000002,2021-09-28 00:00:00,010.007-21.77794692,JADETABEK,JL. JOMBANG RAYA-PARIGI (TAMAN CBD BINTARO),FINA PERMATA SARI,GOLD 1%,TOP 1X
2,00000003,2021-09-28 00:00:00,010.007-21.77794691,JADETABEK,KI HAJAR DEWANTARA (IR H. JUANDA),FINA PERMATA SARI,GOLD 1%,TOP 1X
3,00000007,2021-09-29 00:00:00,010.007-21.77794693,JADETABEK,RUKO AZORES BANJAR WIJAYA,SANNY,GOLD 1%,TOP 1X
4,00000008,2021-09-30 00:00:00,011.007-21.77794694,JADETABEK,RADIO DALAM,NATASIA SUMARTO,"SILVER 0,5%",TOP 1X
...,...,...,...,...,...,...,...,...
260,00000172,NaN,NaN,JADETABEK,VILLA TOMANG BARU,IMELDA OKTAVIA,NaN,NaN
267,NaN,2021-10-27 00:00:00,NaN,JADETABEK,SEPATAN RESIDENCE (SEASON CITY),NaN,NaN,TOP 1X
270,NaN,2021-10-27 00:00:00,NaN,JADETABEK,UJUNG ASPAL,NaN,NaN,TOP 5X
271,NaN,2021-10-27 00:00:00,NaN,JADETABEK,LENTENG AGUNG,NaN,NaN,TOP 2X
272,NaN,2021-10-31 00:00:00,NaN,JADETABEK,KOSAMBI,NaN,NaN,TOP 5X

In [14]:
print("Jumlah Cabang Jadetabek Yang Melakukan Pembayaran: {}".format(len(df_jadetabek[df_jadetabek.no_invoice.notnull() | df_jadetabek.tgl_bayar.notnull()])))

Jumlah Cabang Jadetabek Yang Melakukan Pembayaran: 181

#### Jumlah Cabang Jadetabek Lengkap: Tanggal Bayar, No Invoice, dan Faktur Pajak

In [15]:
# already paid + invoice number + tax invoice
df_jadetabek[df_jadetabek.no_invoice.notnull() & df_jadetabek.tgl_bayar.notnull() & df_jadetabek.no_faktur_pajak.notnull()]

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
0,00000001,2021-09-28 00:00:00,010.007-21.77794690,JADETABEK,MENCENG,EVELYN EMMANUEL,GOLD 1%,TOP 1X
1,00000002,2021-09-28 00:00:00,010.007-21.77794692,JADETABEK,JL. JOMBANG RAYA-PARIGI (TAMAN CBD BINTARO),FINA PERMATA SARI,GOLD 1%,TOP 1X
2,00000003,2021-09-28 00:00:00,010.007-21.77794691,JADETABEK,KI HAJAR DEWANTARA (IR H. JUANDA),FINA PERMATA SARI,GOLD 1%,TOP 1X
3,00000007,2021-09-29 00:00:00,010.007-21.77794693,JADETABEK,RUKO AZORES BANJAR WIJAYA,SANNY,GOLD 1%,TOP 1X
4,00000008,2021-09-30 00:00:00,011.007-21.77794694,JADETABEK,RADIO DALAM,NATASIA SUMARTO,"SILVER 0,5%",TOP 1X
...,...,...,...,...,...,...,...,...
226,00000134,2021-10-27 00:00:00,010.008-21.67204225,JADETABEK,PETA SELATAN,DANIEL SURYA KURNIA,NaN,TOP 2X
228,00000151,2021-10-20 00:00:00,010.008-21.67204237,JADETABEK,TAMAN KENCANA,ABDIEL NATANAEL,NaN,NaN
248,00000163,2021-10-25 00:00:00,010.008-21.67754330,JADETABEK,TAMAN JATISARI PERMAI,MUJIASIH,NaN,NaN
252,00000155,2021-10-23 00:00:00,010.008-21.67204241,JADETABEK,ABC DURI KOSAMBI,THE FAN KURNIAWAN,NaN,TOP 1X
253,00000154,2021-10-23 00:00:00,010.008-21.67204240,JADETABEK,RAWA BUAYA,THE FAN KURNIAWAN,NaN,TOP 5X

In [16]:
print("Jumlah Cabang Yang Lengkap\nNo Invoice, Faktur Pajak, dan Melakukan Pembayaran: {}".format(len(df_jadetabek[df_jadetabek.no_invoice.notnull() & df_jadetabek.tgl_bayar.notnull() & df_jadetabek.no_faktur_pajak.notnull()])))

Jumlah Cabang Yang Lengkap
No Invoice, Faktur Pajak, dan Melakukan Pembayaran: 128

#### Jumlah Cabang Jadetabek Yang Sudah Bayar Namun Belum Memiliki No Invoice/No Faktur Pajak
Follow Up: Segera dinaikkan dokumen agar bisa dibuatkan Invoice dan Faktur Pajak

In [17]:
# already paid but have no invoice number
df_jadetabek[df_jadetabek.tgl_bayar.notnull() & df_jadetabek.no_invoice.isnull()]

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
99,NaN,2021-10-31 00:00:00,NaN,JADETABEK,KEDAUNG CIPUTAT (CIRENDEU RAYA),"HANDOKO AJI PAMBUDI, SE",NaN,TOP 5X
104,NaN,2021-10-31 00:00:00,NaN,JADETABEK,KAMPUNG UTAN,NaN,NaN,TOP 5X
120,NaN,2021-10-31 00:00:00,NaN,JADETABEK,NUSALOKA BSD,MARSELLA,NaN,TOP 1X
121,NaN,2021-10-31 00:00:00,NaN,JADETABEK,BSD SEKTOR 4 (BENTENG BETAWI),MARSELLA,NaN,TOP 1X
133,NaN,2021-10-22 00:00:00,NaN,JADETABEK,KREKOT SAMANHUDI,NaN,NaN,TOP 5X
137,NaN,2021-10-22 00:00:00,NaN,JADETABEK,KEBON KACANG,NaN,NaN,TOP 5X
138,NaN,2021-10-22 00:00:00,NaN,JADETABEK,SETIA KAWAN,NaN,NaN,TOP 5X
139,NaN,2021-10-23 00:00:00,NaN,JADETABEK,MUARA BAHARI,NaN,NaN,TOP 5X
169,NaN,2021-11-01 00:00:00,NaN,JADETABEK,PADEMANGAN IV,NaN,NaN,TOP 1X
170,NaN,2021-10-26 00:00:00,NaN,JADETABEK,MERPATI TENGAH (KP GEDONG),NaN,NaN,TOP 1X
172,NaN,2021-10-27 00:00:00,NaN,JADETABEK,POLTANGAN NEW,NaN,NaN,TOP 5X
181,NaN,2021-10-27 00:00:00,NaN,JADETABEK,CINERE RAYA,NaN,NaN,TOP 1X
199,NaN,2021-10-20 00:00:00,NaN,JADETABEK,KARET KUNINGAN,NaN,NaN,TOP 1X
224,NaN,2021-10-28 00:00:00,NaN,JADETABEK,ARINDA,NaN,NaN,TOP 5X
230,NaN,2021-10-25 00:00:00,NaN,JADETABEK,KEADILAN DALAM (PEKAPURAN),NaN,NaN,TOP 5X
231,NaN,2021-10-25 00:00:00,NaN,JADETABEK,HYPERMART GADING,NaN,NaN,TOP 5X
232,NaN,2021-10-27 00:00:00,NaN,JADETABEK,SUNTER INDAH,NaN,NaN,NaN
236,NaN,2021-10-31 00:00:00,NaN,JADETABEK,LEUWINANGGUNG DEPOK,NaN,NaN,TOP 5X
237,NaN,2021-10-26 00:00:00,NaN,JADETABEK,PENGAYOMAN (HANKAM PONDOK GEDE),Indra Kurniawan,NaN,TOP 5X
249,NaN,2021-10-30 00:00:00,NaN,JADETABEK,BUKIT DAGO,NaN,NaN,TOP 12X
257,NaN,2021-10-27 00:00:00,NaN,JADETABEK,PETUKANGAN,NaN,NaN,TOP 5X
258,NaN,2021-10-29 00:00:00,NaN,JADETABEK,PETAMBURAN,NaN,NaN,TOP 2X
259,NaN,2021-10-27 00:00:00,NaN,JADETABEK,JATIPADANG (MENTENG WADAS) (ALTERNATIF CIBUBUR),ABDUL JAMALUDIN,NaN,TOP 5X
267,NaN,2021-10-27 00:00:00,NaN,JADETABEK,SEPATAN RESIDENCE (SEASON CITY),NaN,NaN,TOP 1X
270,NaN,2021-10-27 00:00:00,NaN,JADETABEK,UJUNG ASPAL,NaN,NaN,TOP 5X
271,NaN,2021-10-27 00:00:00,NaN,JADETABEK,LENTENG AGUNG,NaN,NaN,TOP 2X
272,NaN,2021-10-31 00:00:00,NaN,JADETABEK,KOSAMBI,NaN,NaN,TOP 5X

In [18]:
print("Jumlah Cabang Yang Melakukan Pembayaran\nNamun Belum Memiliki Invoice: {}".format(len(df_jadetabek[df_jadetabek.tgl_bayar.notnull() & df_jadetabek.no_invoice.isnull()])))

Jumlah Cabang Yang Melakukan Pembayaran
Namun Belum Memiliki Invoice: 27

#### Jumlah Cabang Jadetabek Yang Melakukan Pembayaran dan No Invoice Namun Belum Memiliki Faktur Pajak
Follow Up: Dimintakan NPWP atau Surat Pernyataan Tidak Memiliki NPWP

In [19]:
# already paid + have invoice no but no tax invoice
df_jadetabek[df_jadetabek.tgl_bayar.notnull() & df_jadetabek.no_invoice.notnull() & df_jadetabek.no_faktur_pajak.isnull()]

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
105,00000179,2021-10-31 00:00:00,NaN,JADETABEK,Citra Grand 2 (KRANGGAN PERMAI),JAMI CRISTIAN,NaN,TOP 5X
106,00000173,2021-10-26 00:00:00,NaN,JADETABEK,LAPANGAN TEMBAK CIBUBUR,FEN HIN,NaN,TOP 1X
107,00000176,2021-10-31 00:00:00,NaN,JADETABEK,HARAPAN JAYA,WILLY JULUS,NaN,TOP 5X
109,00000183,2021-10-28 00:00:00,NaN,JADETABEK,KEBAYORAN LAMA,FEBRY MUZAMAN AKBAR,NaN,TOP 1X
115,00000168,2021-10-30 00:00:00,NaN,JADETABEK,SAMPOERNA STRATEGIC,THERESIA SINYAL,NaN,TOP 5X
126,00000174,2021-10-21 00:00:00,NaN,JADETABEK,ALAM SUTERA RUKO PROMINENCE,YOSHUA ANDRI,NaN,TOP 5X
147,00000192,2021-10-30 00:00:00,NaN,JADETABEK,ASIA TROPIS HARAPAN INDAH,MIDUK W SIAHAAN,NaN,TOP 12X
157,00000180,2021-10-29 00:00:00,NaN,JADETABEK,SUMUR BATU RAYA,EVA KAIAN,NaN,TOP 12X
177,00000182,2021-10-29 00:00:00,NaN,JADETABEK,KRAMAT SENTIONG,FANNY BUDIMAN,NaN,TOP 1X
178,00000170,2021-10-29 00:00:00,NaN,JADETABEK,KRAMAT ASEM,FANNY BUDIMAN,NaN,TOP 5X
179,00000177,2021-10-29 00:00:00,NaN,JADETABEK,HAJI TEN,FANNY BUDIMAN,NaN,TOP 5X
190,00000187,2021-10-27 00:00:00,NaN,JADETABEK,CIPADU,KHUSNUL KHORIP,NaN,TOP 1X
191,00000188,2021-10-27 00:00:00,NaN,JADETABEK,LARANGAN KREO,KHUSNUL KHORIP,NaN,TOP 1X
192,00000186,2021-10-27 00:00:00,NaN,JADETABEK,PON PIN KEBAYORAN LAMA,KHUSNUL KHORIP,NaN,TOP 1X
193,00000185,2021-10-27 00:00:00,NaN,JADETABEK,BINTARO JAYA SEKTOR 1 (JATI CEMPAKA),KHUSNUL KHORIP,NaN,TOP 1X
211,00000171,2021-10-20 00:00:00,NaN,JADETABEK,KALIBATA CITY,IRVAN HIDAYAT,NaN,TOP 5X
212,00000169,2021-10-26 00:00:00,NaN,JADETABEK,HARAPAN BARU (Pangkalan Asem),INDRA KURNIAWAN,NaN,TOP 5X
214,00000184,2021-10-31 00:00:00,NaN,JADETABEK,HARAPAN INDAH,MEILYANA SUTANTIO,NaN,TOP 1X
215,00000189,2021-10-20 00:00:00,NaN,JADETABEK,VILLA TANGERANG INDAH,SUGIH RAHMAT SANJAYA,NaN,TOP 2X
216,00000190,2021-10-20 00:00:00,NaN,JADETABEK,VILLA TAMAN CIBODAS (PRAMBANAN RAYA PERUM II) ...,SUGIH RAHMAT SANJAYA,NaN,TOP 2X
217,00000191,2021-10-20 00:00:00,NaN,JADETABEK,KERONCONG PERMAI (MOH. TOHA TANGERANG),FRAWATI SANJAYA,NaN,TOP 2X
235,00000175,2021-10-30 00:00:00,NaN,JADETABEK,PONDOK JAYA,TONI KHRISNA ADITYA,NaN,TOP 5X

In [20]:
print("Jumlah Cabang Yang Telah Membayar dan Memiliki No Invoice\nNamun Tak Memiliki Faktur Pajak: {}".format(len(df_jadetabek[df_jadetabek.tgl_bayar.notnull() & df_jadetabek.no_invoice.notnull() & df_jadetabek.no_faktur_pajak.isnull()])))

Jumlah Cabang Yang Telah Membayar dan Memiliki No Invoice
Namun Tak Memiliki Faktur Pajak: 22

#### Jumlah Cabang Jadetabek Yang Belum Melakukan Pembayaran
Follow Up: Segera dimintakan atau diisikan tanggal yang disetujui oleh Management terkait tanggal pembayaran

In [21]:
#not yet paid
df_jadetabek[df_jadetabek.tgl_bayar.isnull() & df_jadetabek.no_invoice.isnull()]

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
50,NaN,NaN,NaN,JADETABEK,CILANGKAP BARU (SRENGSENG SAWAH),DESTHIANI,NaN,NaN
100,NaN,NaN,NaN,JADETABEK,JOMBANG RAYA 60,NaN,NaN,NaN
101,NaN,NaN,NaN,JADETABEK,PONDOK KACANG,NaN,NaN,NaN
102,NaN,NaN,NaN,JADETABEK,PASAR SEGAR BINTARO,NaN,NaN,NaN
103,NaN,NaN,NaN,JADETABEK,PALAPA RAYA (SERPONG RAYA) (TAMAN CIBODAS RAYA),NaN,NaN,NaN
131,NaN,NaN,NaN,JADETABEK,CIPETE DAMAI (CIPETE UTARA),ANDI ALIF AKBAR,NaN,NaN
134,NaN,NaN,NaN,JADETABEK,KARANG ANYAR,NaN,NaN,NaN
140,NaN,NaN,NaN,JADETABEK,SETIA BUDI,ANDHIKA WIJAJA SH,NaN,NaN
141,NaN,NaN,NaN,JADETABEK,SETIA BUDI 2,ANDHIKA WIJAJA SH,NaN,NaN
142,NaN,NaN,NaN,JADETABEK,TAMAN SOLO,NaN,NaN,NaN
143,NaN,NaN,NaN,JADETABEK,DEPOK 2 TIMUR,WINDAY WINARTO,NaN,NaN
144,NaN,NaN,NaN,JADETABEK,BLOK S,NaN,NaN,NaN
145,NaN,NaN,NaN,JADETABEK,SENOPATI,NaN,NaN,NaN
146,NaN,NaN,NaN,JADETABEK,PEJAGALAN SIANG,NaN,NaN,NaN
148,NaN,NaN,NaN,JADETABEK,SERUA CIPUTAT,NaN,NaN,NaN
154,NaN,NaN,NaN,JADETABEK,SULTAN AGUNG TIRTAYASA (SAWANGAN PERMAI),IKA SOTRIA DEWI,NaN,NaN
158,NaN,NaN,NaN,JADETABEK,GREEN PARK VIEW,NaN,NaN,NaN
159,NaN,NaN,NaN,JADETABEK,H. MANSYUR (PUSAT JAJAN D'TONEL),SUHARSOYO,NaN,NaN
160,NaN,NaN,NaN,JADETABEK,GRAND DEPOK CITY,STEPHANIE AMANDO INTAN,NaN,NaN
161,NaN,NaN,NaN,JADETABEK,KALIMULYA (POLTANGAN),STEPHANIE AMANDO INTAN,NaN,NaN
164,NaN,NaN,NaN,JADETABEK,SRENGSENG SAWAH JAGAKARSA,KEVIN CHANDRA,NaN,NaN
167,NaN,NaN,NaN,JADETABEK,SUNTER PERMAI (PADEMANGAN),NaN,NaN,NaN
168,NaN,NaN,NaN,JADETABEK,DANAU SUNTER,NaN,NaN,NaN
186,NaN,NaN,NaN,JADETABEK,ASGO TANAH MERDEKA (MUNCANG),NaN,NaN,NaN
195,NaN,NaN,NaN,JADETABEK,CAWANG,NaN,NaN,NaN
198,NaN,NaN,NaN,JADETABEK,JATI WARNA,NaN,NaN,NaN
205,NaN,NaN,NaN,JADETABEK,MUTIARA GADING BEKASI,NaN,NaN,NaN
206,NaN,NaN,NaN,JADETABEK,PONDOK RANJI,SYLVIA DARMAWAN,NaN,NaN
207,NaN,NaN,NaN,JADETABEK,ITC MANGGA DUA / KETAPANG PETOJO,NaN,NaN,NaN
213,NaN,NaN,NaN,JADETABEK,RICCI,NaN,NaN,NaN
220,NaN,NaN,NaN,JADETABEK,PETAMBURAN 2,NaN,NaN,NaN
221,NaN,NaN,NaN,JADETABEK,LIMUS PRATAMA BOGOR NON MASTER,NaN,NaN,NaN
225,NaN,NaN,NaN,JADETABEK,CIPTO MANGUNKUSUMO,NaN,NaN,TOP 5X
227,NaN,NaN,NaN,JADETABEK,CIKEAS NEW (TAPOS DEPOK),"ACENG DANIAL, SPD",NaN,TOP 2X
229,NaN,NaN,NaN,JADETABEK,KEBON NANAS,NaN,NaN,NaN
234,NaN,NaN,NaN,JADETABEK,PD. KACANG BARAT (JURUMUDI LAMA),TONI KHRISNA ADITYA,NaN,NaN
238,NaN,NaN,NaN,JADETABEK,ROXY SQUARE,NaN,NaN,NaN
239,NaN,NaN,NaN,JADETABEK,GROGOL PASAR JAYA,NaN,NaN,NaN
240,NaN,NaN,NaN,JADETABEK,GROGOL FOODCOURT,NaN,NaN,NaN
241,NaN,NaN,NaN,JADETABEK,MAKALIWE,NaN,NaN,NaN
242,NaN,NaN,NaN,JADETABEK,GROGOL,NaN,NaN,NaN
243,NaN,NaN,NaN,JADETABEK,PANGERAN JAYAKARTA,NaN,NaN,NaN
244,NaN,NaN,NaN,JADETABEK,TJ DUREN2 SIANG,NaN,NaN,NaN
245,NaN,NaN,NaN,JADETABEK,MERUYA (DANNY GROUP),NaN,NaN,NaN
246,NaN,NaN,NaN,JADETABEK,TJ DUREN RAYA,NaN,NaN,NaN
247,NaN,NaN,NaN,JADETABEK,TJ DUREN2,NaN,NaN,TOP 5X
250,NaN,NaN,NaN,JADETABEK,SRENGSENG SAWAH 2 (JAKASETIA BEKASI),NaN,NaN,TOP 1X
254,NaN,NaN,NaN,JADETABEK,KAMPUNG MELAYU (MAHKOTA),NaN,NaN,NaN
262,NaN,NaN,NaN,JADETABEK,MANGUN TAMBUN JAYA (MANGUN TAMBUN) (TEBET BARA...,NaN,NaN,NaN
263,NaN,NaN,NaN,JADETABEK,BAYWALK,NaN,NaN,TOP 1X
268,NaN,NaN,NaN,JADETABEK,DEPOK,NaN,NaN,NaN
269,NaN,NaN,NaN,JADETABEK,PONDOK GEDE PLAZA,NaN,NaN,NaN
273,NaN,NaN,NaN,JADETABEK,HOS COKROAMINOTO CILEDUG,NaN,NaN,NaN

In [22]:
print("Jumlah Cabang Yang Belum Melakukan Pembayaran: {}".format(len(df_jadetabek[df_jadetabek.tgl_bayar.isnull() & df_jadetabek.no_invoice.isnull()])))

Jumlah Cabang Yang Belum Melakukan Pembayaran: 53

## Luar Kota/Master

In [23]:
df_luar_jadetabek = df_3nov[df_3nov.master != "JADETABEK"].copy()

In [24]:
df_luar_jadetabek.head()

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
38,00000004,2021-09-30 00:00:00,010.007-21.77794698,MASTER AMBON,WARINGIN,Lupita Jennifer Pattiasina,NaN,TOP 1X
39,"00000005, 00000026",1-Oct-2021 & 9-Oct-2021,011.007-21.77794702,MASTER BALI,CANGGU,Ni Nyoman Pika Ariyathi,NaN,TOP 1X
40,"00000006, 00000027",1-Oct-2021 & 9-Oct-2021,011.007-21.77794703,MASTER BALI,KEROBOKAN,Ni Nyoman Pika Ariyathi,NaN,TOP 1X
41,00000019,2021-10-11 00:00:00,010.007-21.77794705,MASTER BALI,SIDAKARYA,Komang Ayu Trisna Yanti,NaN,TOP 1X
42,00000020,2021-10-08 00:00:00,010.007-21.77794730,MASTER BALI,GATSU,Putu Gede Darmawan,NaN,TOP 5X

#### Jumlah Cabang Luar Kota (Master + Non Master) Yang Melakukan Pendaftaran Renewal

In [25]:
#total luar jadetabek
print("Total Cabang Luar Kota (Master + Non Master)\nYang Mendaftarkan Renewal: {}".format(len(df_luar_jadetabek)))

Total Cabang Luar Kota (Master + Non Master)
Yang Mendaftarkan Renewal: 40

#### Jumlah Cabang Luar Kota (Master + Non Master) Yang Telah Melakukan Pembayaran
NB: Mohon dikonfirmasi yang bertanda draft dalam no invoice

In [26]:
#total luar jadetabek already paid
df_luar_jadetabek[df_luar_jadetabek.no_invoice.notnull() | df_luar_jadetabek.tgl_bayar.notnull()]

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
38,00000004,2021-09-30 00:00:00,010.007-21.77794698,MASTER AMBON,WARINGIN,Lupita Jennifer Pattiasina,NaN,TOP 1X
39,"00000005, 00000026",1-Oct-2021 & 9-Oct-2021,011.007-21.77794702,MASTER BALI,CANGGU,Ni Nyoman Pika Ariyathi,NaN,TOP 1X
40,"00000006, 00000027",1-Oct-2021 & 9-Oct-2021,011.007-21.77794703,MASTER BALI,KEROBOKAN,Ni Nyoman Pika Ariyathi,NaN,TOP 1X
41,00000019,2021-10-11 00:00:00,010.007-21.77794705,MASTER BALI,SIDAKARYA,Komang Ayu Trisna Yanti,NaN,TOP 1X
42,00000020,2021-10-08 00:00:00,010.007-21.77794730,MASTER BALI,GATSU,Putu Gede Darmawan,NaN,TOP 5X
43,00000023 (draft),NaN,NaN,NON MASTER,BENGKULU BATANG HARI,BONAVENTURA WIMATAMA KURNIAWAN,NaN,TOP 5X
44,00000022,2021-10-22 00:00:00,010.008-21.67204195,NON MASTER,CIBARUSAH CIKARANG,KELLYN,NaN,TOP 1X
45,00000021,2021-10-08 00:00:00,010.007-21.77794706,NON MASTER,KOMISARIS NOTOSUMARSONO,ADITYA HADI PUTRA,NaN,TOP 1X
62,00000034,2021-10-20 00:00:00,010.008-21.67204203,NON MASTER,SIGMA CARWASH - LAHAT,DAVID ONGGO,NaN,TOP 1X
63,00000035,2021-10-15 00:00:00,010.007-21.77794753,MASTER BALI,IMAM BONJOL,SUSANTI,NaN,TOP 5X
64,00000051,2021-10-12 00:00:00,010.007-21.77794729,NON MASTER,Taman Yasmin Bogor Non Master,JULIANTO DERMAWAN,NaN,TOP 1X
75,00000017,2021-10-12 00:00:00,010.007-21.77794736,NON MASTER,BOJONG GEDE,SUSAN HELEDY,NaN,TOP 1X
92,00000016,2021-10-14 00:00:00,011.007-21.77794737,NON MASTER,JEND SUDIRMAN INDRAMAYU,AGUS YONATHAN,NaN,TOP 1X
93,00000018,2021-10-19 00:00:00,010.008-21.67204202,MASTER JOGJA,GAMPING,GANJAR PUSPOWATI,NaN,TOP 5X
94,00000015,2021-10-18 00:00:00,010.008-21.67204194,MASTER JOGJA,BABARSARI,YAN KRISWANTO MAHARDI,NaN,TOP 1X
95,00000055,2021-10-15 00:00:00,010.007-21.77794757,NON MASTER,SEMPUR BOGOR,"ATIEK WIRIASTUSTI, SE",NaN,TOP 1X
96,00000054,2021-10-15 00:00:00,010.007-21.77794756,NON MASTER,CIAWI BOGOR (PARUNG BOGOR),"ATIEK WIRIASTUSTI, SE",NaN,TOP 1X
97,00000053,2021-10-15 00:00:00,010.007-21.77794755,NON MASTER,RAYA TAJUR 206,"ATIEK WIRIASTUSTI, SE",NaN,TOP 1X
98,00000052,2021-10-15 00:00:00,010.007-21.77794754,NON MASTER,DRAMAGA MARGAJAYA (VETERAN BOGOR),"ATIEK WIRIASTUSTI, SE",NaN,TOP 1X
111,00000147,NaN,NaN,MASTER BANTEN,TELAGA BESTARI,NaN,NaN,NaN
182,NaN,2021-10-18 00:00:00,NaN,MASTER MANADO,BETHESDA,NaN,NaN,TOP 1X
183,00000149,NaN,NaN,NON MASTER,CIMANGGU,NaN,NaN,NaN
184,00000118,2021-10-20 00:00:00,NaN,NON MASTER,TELUK BETUNG,IMELDA KODA,NaN,TOP 1X
185,00000150,NaN,NaN,NON MASTER,EMPANG BOGOR,NaN,NaN,NaN
187,00000122,2021-10-27 00:00:00,010.008-21.67204213,MASTER BALI,SANGLAH,LINA LIM,NaN,TOP 5X
188,00000120,2021-10-19 00:00:00,010.008-21.67204211,NON MASTER,ENTROP JAYAPURA ( KELAPA 2 ENTROP ),WIDIA INTAN SARI,NaN,TOP 1X
189,00000115,2021-10-20 00:00:00,010.008-21.67204208,NON MASTER,RANGKAS BITUNG,"ERWIN TJAHYADI, SE",NaN,TOP 1X
194,00000117,2021-10-19 00:00:00,010.008-21.67204209,NON MASTER,KOTARAJA JAYAPURA,NANANG SAJUTI,NaN,TOP 1X
200,00000119,2021-10-19 00:00:00,010.008-21.67204210,NON MASTER,POLIMAK JAYAPURA,MOHAMMAD IMAM AGUNG,NaN,TOP 1X
201,00000114,2021-10-19 00:00:00,010.008-21.67204207,MASTER MANADO,GIRIAN,INGGRID SYARIEL,NaN,TOP 1X
202,00000116,2021-10-19 00:00:00,NaN,NON MASTER,CIREBON,LIVIA HANDAYANI SUKAMIL,NaN,TOP 1X
208,00000121,2021-10-19 00:00:00,010.008-21.67204212,NON MASTER,PERCETAKAN JAYAPURA,NANANG SAJUTI,NaN,TOP 1X
209,00000158,2021-10-21 00:00:00,010.008-21.67204244,MASTER BANDUNG,CIUMBELUIT,RICHARD HINDRA PUTRA,NaN,TOP 1X
210,NaN,2021-10-19 00:00:00,NaN,MASTER MANADO,PAAL DUA,NaN,NaN,TOP 1X
251,00000125,2021-10-26 00:00:00,010.008-21.67204216,NON MASTER,SETIABUDI SINGKAWANG (SINGKAWANG),ADDY HERIADI JUAHARI,NaN,TOP 1X
264,00000145,2021-10-27 00:00:00,010.008-21.67204236,NON MASTER,DI. PANJAITAN SAMARINDA,DONNY WIJAYA,NaN,TOP 5X
265,00000167 (draft),NaN,NaN,NON MASTER,SUNGAI RAYA PONTIANAK,NaN,NaN,NaN

In [27]:
print("Jumlah Cabang Luar Jadetabek Yang Melakukan Pembayaran: {}\nNB: Perlu dikonfirmasi yang memiliki Draft invoice".format(len(df_luar_jadetabek[df_luar_jadetabek.no_invoice.notnull() | df_luar_jadetabek.tgl_bayar.notnull()])))

Jumlah Cabang Luar Jadetabek Yang Melakukan Pembayaran: 37
NB: Perlu dikonfirmasi yang memiliki Draft invoice

#### Jumlah Cabang Luar Jadetabek, Yang Lengkap: Tanggal Bayar, No Invoice, dan No Faktur Pajak

In [28]:
# already paid + invoice number + tax invoice
df_luar_jadetabek[df_luar_jadetabek.no_invoice.notnull() & df_luar_jadetabek.tgl_bayar.notnull() & df_luar_jadetabek.no_faktur_pajak.notnull()]

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
38,00000004,2021-09-30 00:00:00,010.007-21.77794698,MASTER AMBON,WARINGIN,Lupita Jennifer Pattiasina,NaN,TOP 1X
39,"00000005, 00000026",1-Oct-2021 & 9-Oct-2021,011.007-21.77794702,MASTER BALI,CANGGU,Ni Nyoman Pika Ariyathi,NaN,TOP 1X
40,"00000006, 00000027",1-Oct-2021 & 9-Oct-2021,011.007-21.77794703,MASTER BALI,KEROBOKAN,Ni Nyoman Pika Ariyathi,NaN,TOP 1X
41,00000019,2021-10-11 00:00:00,010.007-21.77794705,MASTER BALI,SIDAKARYA,Komang Ayu Trisna Yanti,NaN,TOP 1X
42,00000020,2021-10-08 00:00:00,010.007-21.77794730,MASTER BALI,GATSU,Putu Gede Darmawan,NaN,TOP 5X
44,00000022,2021-10-22 00:00:00,010.008-21.67204195,NON MASTER,CIBARUSAH CIKARANG,KELLYN,NaN,TOP 1X
45,00000021,2021-10-08 00:00:00,010.007-21.77794706,NON MASTER,KOMISARIS NOTOSUMARSONO,ADITYA HADI PUTRA,NaN,TOP 1X
62,00000034,2021-10-20 00:00:00,010.008-21.67204203,NON MASTER,SIGMA CARWASH - LAHAT,DAVID ONGGO,NaN,TOP 1X
63,00000035,2021-10-15 00:00:00,010.007-21.77794753,MASTER BALI,IMAM BONJOL,SUSANTI,NaN,TOP 5X
64,00000051,2021-10-12 00:00:00,010.007-21.77794729,NON MASTER,Taman Yasmin Bogor Non Master,JULIANTO DERMAWAN,NaN,TOP 1X
75,00000017,2021-10-12 00:00:00,010.007-21.77794736,NON MASTER,BOJONG GEDE,SUSAN HELEDY,NaN,TOP 1X
92,00000016,2021-10-14 00:00:00,011.007-21.77794737,NON MASTER,JEND SUDIRMAN INDRAMAYU,AGUS YONATHAN,NaN,TOP 1X
93,00000018,2021-10-19 00:00:00,010.008-21.67204202,MASTER JOGJA,GAMPING,GANJAR PUSPOWATI,NaN,TOP 5X
94,00000015,2021-10-18 00:00:00,010.008-21.67204194,MASTER JOGJA,BABARSARI,YAN KRISWANTO MAHARDI,NaN,TOP 1X
95,00000055,2021-10-15 00:00:00,010.007-21.77794757,NON MASTER,SEMPUR BOGOR,"ATIEK WIRIASTUSTI, SE",NaN,TOP 1X
96,00000054,2021-10-15 00:00:00,010.007-21.77794756,NON MASTER,CIAWI BOGOR (PARUNG BOGOR),"ATIEK WIRIASTUSTI, SE",NaN,TOP 1X
97,00000053,2021-10-15 00:00:00,010.007-21.77794755,NON MASTER,RAYA TAJUR 206,"ATIEK WIRIASTUSTI, SE",NaN,TOP 1X
98,00000052,2021-10-15 00:00:00,010.007-21.77794754,NON MASTER,DRAMAGA MARGAJAYA (VETERAN BOGOR),"ATIEK WIRIASTUSTI, SE",NaN,TOP 1X
187,00000122,2021-10-27 00:00:00,010.008-21.67204213,MASTER BALI,SANGLAH,LINA LIM,NaN,TOP 5X
188,00000120,2021-10-19 00:00:00,010.008-21.67204211,NON MASTER,ENTROP JAYAPURA ( KELAPA 2 ENTROP ),WIDIA INTAN SARI,NaN,TOP 1X
189,00000115,2021-10-20 00:00:00,010.008-21.67204208,NON MASTER,RANGKAS BITUNG,"ERWIN TJAHYADI, SE",NaN,TOP 1X
194,00000117,2021-10-19 00:00:00,010.008-21.67204209,NON MASTER,KOTARAJA JAYAPURA,NANANG SAJUTI,NaN,TOP 1X
200,00000119,2021-10-19 00:00:00,010.008-21.67204210,NON MASTER,POLIMAK JAYAPURA,MOHAMMAD IMAM AGUNG,NaN,TOP 1X
201,00000114,2021-10-19 00:00:00,010.008-21.67204207,MASTER MANADO,GIRIAN,INGGRID SYARIEL,NaN,TOP 1X
208,00000121,2021-10-19 00:00:00,010.008-21.67204212,NON MASTER,PERCETAKAN JAYAPURA,NANANG SAJUTI,NaN,TOP 1X
209,00000158,2021-10-21 00:00:00,010.008-21.67204244,MASTER BANDUNG,CIUMBELUIT,RICHARD HINDRA PUTRA,NaN,TOP 1X
251,00000125,2021-10-26 00:00:00,010.008-21.67204216,NON MASTER,SETIABUDI SINGKAWANG (SINGKAWANG),ADDY HERIADI JUAHARI,NaN,TOP 1X
264,00000145,2021-10-27 00:00:00,010.008-21.67204236,NON MASTER,DI. PANJAITAN SAMARINDA,DONNY WIJAYA,NaN,TOP 5X

In [29]:
print("Jumlah Cabang Luar Jadetabek Yang Sudah Lengkap\nNo Invoice, Tanggal Bayar, dan Faktur Pajak: {}".format(len(df_luar_jadetabek[df_luar_jadetabek.no_invoice.notnull() & df_luar_jadetabek.tgl_bayar.notnull() & df_luar_jadetabek.no_faktur_pajak.notnull()])))

Jumlah Cabang Luar Jadetabek Yang Sudah Lengkap
No Invoice, Tanggal Bayar, dan Faktur Pajak: 28

#### Jumlah Cabang Luar Jadetabek yang Telah Membayar Namun Belum Memiliki No Invoice/No Faktur Pajak
Follow up: Segera dilengkapi dokumen agar bisa dibuatkan invoice dan NPWP/Surat Pernyataan

In [30]:
# already paid but have no invoice number
df_luar_jadetabek[df_luar_jadetabek.tgl_bayar.notnull() & df_luar_jadetabek.no_invoice.isnull()]

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
182,NaN,2021-10-18 00:00:00,NaN,MASTER MANADO,BETHESDA,NaN,NaN,TOP 1X
210,NaN,2021-10-19 00:00:00,NaN,MASTER MANADO,PAAL DUA,NaN,NaN,TOP 1X

In [31]:
print("Cabang Luar Jadetabek Yang Sudah Melakukan Pembayaran\nNamun Belum Memiliki No Invoice: {}".format(len(df_luar_jadetabek[df_luar_jadetabek.tgl_bayar.notnull() & df_luar_jadetabek.no_invoice.isnull()])))

Cabang Luar Jadetabek Yang Sudah Melakukan Pembayaran
Namun Belum Memiliki No Invoice: 2

#### Jumlah Cabang Luar Jadetabek Yang Sudah Membayar dan Memiliki Invoice dan Belum Memiliki No Faktur Pajak
Follow Up: Segera dilengkapi NPWP atau Surat Pernyataan Tidak Memiliki NPWP

In [32]:
# already paid + have invoice no but no tax invoice
df_luar_jadetabek[df_luar_jadetabek.tgl_bayar.notnull() & df_luar_jadetabek.no_invoice.notnull() & df_luar_jadetabek.no_faktur_pajak.isnull()]

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
184,00000118,2021-10-20 00:00:00,NaN,NON MASTER,TELUK BETUNG,IMELDA KODA,NaN,TOP 1X
202,00000116,2021-10-19 00:00:00,NaN,NON MASTER,CIREBON,LIVIA HANDAYANI SUKAMIL,NaN,TOP 1X

In [33]:
print("Jumlah Cabang Luar Jadetabek Yang Memiliki\nInvoice dan Melakukan Pembayaran\nNamun Belum Memiliki Faktur Pajak: {}".format(len(df_luar_jadetabek[df_luar_jadetabek.tgl_bayar.notnull() & df_luar_jadetabek.no_invoice.notnull() & df_luar_jadetabek.no_faktur_pajak.isnull()])))

Jumlah Cabang Luar Jadetabek Yang Memiliki
Invoice dan Melakukan Pembayaran
Namun Belum Memiliki Faktur Pajak: 2

#### Jumlah Cabang Luar Kota Yang Belum Melakukan Pembayaran
Follow Up: Segera dimintakan pembayaran

In [34]:
#not yet paid
df_luar_jadetabek[df_luar_jadetabek.tgl_bayar.isnull() & df_luar_jadetabek.no_invoice.isnull()]

,no_invoice,tgl_bayar,no_faktur_pajak,master,nama_cabang,nama_pemilik,kategori_outlet,top
256,NaN,NaN,NaN,NON MASTER,MALANG,NaN,NaN,NaN
261,NaN,NaN,NaN,NON MASTER,TANJUNG RAYA PONTIANAK (KEBON KACANG 9),NaN,NaN,NaN
266,NaN,NaN,NaN,NON MASTER,PAGAR ALAM BANDAR LAMPUNG,NaN,NaN,NaN